<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="author" content="Ethan Hazelton"/>
		<title>MDT TDCV2 Monitoring</title>
        <script src="../../../JsRoot611/scripts/JSRoot.core.min.js" type="text/javascript"></script>
		<meta http-equiv="refresh" content="30">
		<link rel="stylesheet" href="../../CSS/style.css"/>
	</head>
	<body>
		<div class = "header">
			<h1>MDT TDCV2 Monitoring</h1>
		</div>
		<ul>
			<li><a href = "../home.html">Home</a></li>
			<li><a href="../events.html">Events</a></li>
			<li><a href="../Global.html">Global</a></li>
			<li class="dropdown">
				<a href="#" class="dropbtn">TDC</a>
				<div class="dropdown-content">
					<div class = "column">
						<a href="./TDC00_TDC.html">TDC 00</a>
						<a href="./TDC06_TDC.html">TDC 06</a>
						<a href="./TDC12_TDC.html">TDC 12</a>
						<a href="./TDC18_TDC.html">TDC 18</a>
						<a href="./TDC24_TDC.html">TDC 24</a>
						<a href="./TDC30_TDC.html">TDC 30</a>
					</div>
					<div class = "column">
						<a href= "./TDC01_TDC.html">TDC 01</a>
						<a href="./TDC07_TDC.html">TDC 07</a>
						<a href="./TDC13_TDC.html">TDC 13</a>
						<a href="./TDC19_TDC.html">TDC 19</a>
						<a href="./TDC25_TDC.html">TDC 25</a>
						<a href="./TDC31_TDC.html">TDC 31</a>
					</div>
					<div class = "column">
						<a href= "./TDC02_TDC.html">TDC 02</a>
						<a href="./TDC08_TDC.html">TDC 08</a>
						<a href= "./TDC14_TDC.html">TDC 14</a>
						<a href= "./TDC20_TDC.html">TDC 20</a>
						<a href="./TDC26_TDC.html">TDC 26</a>
						<a href="./TDC32_TDC.html">TDC 32</a>
					</div>
					<div class = "column">
						<a href="./TDC03_TDC.html">TDC 03</a>
						<a href="./TDC09_TDC.html">TDC 09</a>
						<a href="./TDC15_TDC.html">TDC 15</a>
						<a href="./TDC21_TDC.html">TDC 21</a>
						<a href="./TDC27_TDC.html">TDC 27</a>
						<a href="./TDC33_TDC.html">TDC 33</a>
					</div>
					<div class = "column">
						<a href= "./TDC04_TDC.html">TDC 04</a>
						<a href= "./TDC10_TDC.html">TDC 10</a>
						<a href= "./TDC16_TDC.html">TDC 16</a>
						<a href= "./TDC22_TDC.html">TDC 22</a>
						<a href="./TDC28_TDC.html">TDC 28</a>
						<a href="./TDC34_TDC.html">TDC 34</a>
						</div>
						<div class = "column">
						<a href="./TDC05_TDC.html">TDC 05</a>
						<a href="./TDC11_TDC.html">TDC 11</a>
						<a href="./TDC17_TDC.html">TDC 17</a>
						<a href="./TDC23_TDC.html">TDC 23</a>
						<a href="./TDC29_TDC.html">TDC 29</a>
						<a href="./TDC35_TDC.html">TDC 35</a>
						</div>
				</div>
			</li>
			<li><a href = "../channels_selection.html">Channel Selection</a></li>
			<li><a href="../event_display_passing.html">Event Display</a></li>
		</ul>
		<h2>TDC 18</h2>

		<div class = "buttonblock">
			<ul>
				<li><a class="ADCbutton" href="TDC18_TDC.html">TDC</a></li>
				<li><a class="TDCbutton" href="TDC18_ADC.html">ADC</a></li>
			</ul>
		</div>
        <table align="center" cellspacing="20">
            <tr>
                <td>
                    <h4><b>TDC18: ADC Channel 0 Time Spectrum</b></h4>
					<div id="a0"></div>
					<script type='text/javascript'>
						// absolute file path can be used as well
						JSROOT.openFile("../../../data/%(rootFile)s")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_0_adc_time_spectrum"))
						  .then(obj => {
	
							  JSROOT.draw("a0", obj, "colz");
						  });
						JSROOT.openFile("../../../data/reference.root")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_0_adc_time_spectrum"))
						  .then(obj => {
							  obj.fLineColor = 2;
							  JSROOT.draw("a0", obj, "colz");
						  });
					 </script>
                </td>
                <td>
                    <h4><b>TDC18: ADC Channel 1 Time Spectrum</b></h4>
					<div id="a1"></div>
					<script type='text/javascript'>
						// absolute file path can be used as well
						JSROOT.openFile("../../../data/%(rootFile)s")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_1_adc_time_spectrum"))
						  .then(obj => {
							  
							  JSROOT.draw("a1", obj, "colz");
						  });
						JSROOT.openFile("../../../data/reference.root")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_1_adc_time_spectrum"))
						  .then(obj => {
							  obj.fLineColor = 2;
							  JSROOT.draw("a1", obj, "colz");
						  });
					 </script>
                </td>
                <td>
                    <h4><b>TDC18: ADC Channel 2 Time Spectrum</b></h4>
					<div id="a2"></div>
					<script type='text/javascript'>
						// absolute file path can be used as well
						JSROOT.openFile("../../../data/%(rootFile)s")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_2_adc_time_spectrum"))
						  .then(obj => {
							  
							  JSROOT.draw("a2", obj, "colz");
						  });
						JSROOT.openFile("../../../data/reference.root")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_2_adc_time_spectrum"))
						  .then(obj => {
							  obj.fLineColor = 2;
							  JSROOT.draw("a2", obj, "colz");
						  });
					 </script>
                </td>
            </tr>
            <tr>
                <td>
                    <h4><b>TDC18: ADC Channel 3 Time Spectrum</b></h4>
					<div id="a3"></div>
					<script type='text/javascript'>
						// absolute file path can be used as well
						JSROOT.openFile("../../../data/%(rootFile)s")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_3_adc_time_spectrum"))
						  .then(obj => {
							  
							  JSROOT.draw("a3", obj, "colz");
						  });
						JSROOT.openFile("../../../data/reference.root")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_3_adc_time_spectrum"))
						  .then(obj => {
							  obj.fLineColor = 2;
							  JSROOT.draw("a3", obj, "colz");
						  });
					 </script>
                </td>
                <td>
                    <h4><b>TDC18: ADC Channel 4 Time Spectrum</b></h4>
					<div id="a4"></div>
					<script type='text/javascript'>
						// absolute file path can be used as well
						JSROOT.openFile("../../../data/%(rootFile)s")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_4_adc_time_spectrum"))
						  .then(obj => {
							  
							  JSROOT.draw("a4", obj, "colz");
						  });
						JSROOT.openFile("../../../data/reference.root")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_4_adc_time_spectrum"))
						  .then(obj => {
							  obj.fLineColor = 2;
							  JSROOT.draw("a4", obj, "colz");
						  });
					 </script>
                </td>
                <td>
                    <h4><b>TDC18: ADC Channel 5 Time Spectrum</b></h4>
					<div id="a5"></div>
					<script type='text/javascript'>
						// absolute file path can be used as well
						JSROOT.openFile("../../../data/%(rootFile)s")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_5_adc_time_spectrum"))
						  .then(obj => {
							  
							  JSROOT.draw("a5", obj, "colz");
						  });
						JSROOT.openFile("../../../data/reference.root")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_5_adc_time_spectrum"))
						  .then(obj => {
							  obj.fLineColor = 2;
							  JSROOT.draw("a5", obj, "colz");
						  });
					 </script>
                </td>
            </tr>
            <tr>
                <td>
                    <h4><b>TDC18: ADC Channel 6 Time Spectrum</b></h4>
					<div id="a6"></div>
					<script type='text/javascript'>
						// absolute file path can be used as well
						JSROOT.openFile("../../../data/%(rootFile)s")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_6_adc_time_spectrum"))
						  .then(obj => {
							  
							  JSROOT.draw("a6", obj, "colz");
						  });
						JSROOT.openFile("../../../data/reference.root")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_6_adc_time_spectrum"))
						  .then(obj => {
							  obj.fLineColor = 2;
							  JSROOT.draw("a6", obj, "colz");
						  });
					 </script>
                </td>
                <td>
                    <h4><b>TDC18: ADC Channel 7 Time Spectrum</b></h4>
					<div id="a7"></div>
					<script type='text/javascript'>
						// absolute file path can be used as well
						JSROOT.openFile("../../../data/%(rootFile)s")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_7_adc_time_spectrum"))
						  .then(obj => {
							  
							  JSROOT.draw("a7", obj, "colz");
						  });
						JSROOT.openFile("../../../data/reference.root")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_7_adc_time_spectrum"))
						  .then(obj => {
							  obj.fLineColor = 2;
							  JSROOT.draw("a7", obj, "colz");
						  });
					 </script>
                </td>
                <td>
                    <h4><b>TDC18: ADC Channel 8 Time Spectrum</b></h4>
					<div id="a8"></div>
					<script type='text/javascript'>
						// absolute file path can be used as well
						JSROOT.openFile("../../../data/%(rootFile)s")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_8_adc_time_spectrum"))
						  .then(obj => {
							  
							  JSROOT.draw("a8", obj, "colz");
						  });
						JSROOT.openFile("../../../data/reference.root")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_8_adc_time_spectrum"))
						  .then(obj => {
							  obj.fLineColor = 2;
							  JSROOT.draw("a8", obj, "colz");
						  });
					 </script>
                </td>
            </tr>
            <tr>
                <td>
                    <h4><b>TDC18: ADC Channel 9 Time Spectrum</b></h4>
					<div id="a9"></div>
					<script type='text/javascript'>
						// absolute file path can be used as well
						JSROOT.openFile("../../../data/%(rootFile)s")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_9_adc_time_spectrum"))
						  .then(obj => {
							  
							  JSROOT.draw("a9", obj, "colz");
						  });
						JSROOT.openFile("../../../data/reference.root")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_9_adc_time_spectrum"))
						  .then(obj => {
							  obj.fLineColor = 2;
							  JSROOT.draw("a9", obj, "colz");
						  });
					 </script>
                </td>
                <td>
                    <h4><b>TDC18: ADC Channel 10 Time Spectrum</b></h4>
					<div id="a10"></div>
					<script type='text/javascript'>
						// absolute file path can be used as well
						JSROOT.openFile("../../../data/%(rootFile)s")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_10_adc_time_spectrum"))
						  .then(obj => {
							  
							  JSROOT.draw("a10", obj, "colz");
						  });
						JSROOT.openFile("../../../data/reference.root")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_10_adc_time_spectrum"))
						  .then(obj => {
							  obj.fLineColor = 2;
							  JSROOT.draw("a10", obj, "colz");
						  });
					 </script>
                </td>
                <td>
                    <h4><b>TDC18: ADC Channel 11 Time Spectrum</b></h4>
					<div id="a11"></div>
					<script type='text/javascript'>
						// absolute file path can be used as well
						JSROOT.openFile("../../../data/%(rootFile)s")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_11_adc_time_spectrum"))
						  .then(obj => {
							  
							  JSROOT.draw("a11", obj, "colz");
						  });
						JSROOT.openFile("../../../data/reference.root")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_11_adc_time_spectrum"))
						  .then(obj => {
							  obj.fLineColor = 2;
							  JSROOT.draw("a11", obj, "colz");
						  });
					 </script>
                </td>
            </tr>
            <tr>
                <td>
                    <h4><b>TDC18: ADC Channel 12 Time Spectrum</b></h4>
					<div id="a12"></div>
					<script type='text/javascript'>
						// absolute file path can be used as well
						JSROOT.openFile("../../../data/%(rootFile)s")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_12_adc_time_spectrum"))
						  .then(obj => {
							  
							  JSROOT.draw("a12", obj, "colz");
						  });
						JSROOT.openFile("../../../data/reference.root")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_12_adc_time_spectrum"))
						  .then(obj => {
							  obj.fLineColor = 2;
							  JSROOT.draw("a12", obj, "colz");
						  });
					 </script>
                </td>
                <td>
                    <h4><b>TDC18: ADC Channel 13 Time Spectrum</b></h4>
					<div id="a13"></div>
					<script type='text/javascript'>
						// absolute file path can be used as well
						JSROOT.openFile("../../../data/%(rootFile)s")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_13_adc_time_spectrum"))
						  .then(obj => {
							  
							  JSROOT.draw("a13", obj, "colz");
						  });
						JSROOT.openFile("../../../data/reference.root")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_13_adc_time_spectrum"))
						  .then(obj => {
							  obj.fLineColor = 2;
							  JSROOT.draw("a13", obj, "colz");
						  });
					 </script>
                </td>
                <td>
                    <h4><b>TDC18: ADC Channel 14 Time Spectrum</b></h4>
					<div id="a14"></div>
					<script type='text/javascript'>
						// absolute file path can be used as well
						JSROOT.openFile("../../../data/%(rootFile)s")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_14_adc_time_spectrum"))
						  .then(obj => {
							  
							  JSROOT.draw("a14", obj, "colz");
						  });
						JSROOT.openFile("../../../data/reference.root")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_14_adc_time_spectrum"))
						  .then(obj => {
							  obj.fLineColor = 2;
							  JSROOT.draw("a14", obj, "colz");
						  });
					 </script>
                </td>
            </tr>
            <tr>
                <td>
                    <h4><b>TDC18: ADC Channel 15 Time Spectrum</b></h4>
					<div id="a15"></div>
					<script type='text/javascript'>
						// absolute file path can be used as well
						JSROOT.openFile("../../../data/%(rootFile)s")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_15_adc_time_spectrum"))
						  .then(obj => {
							  
							  JSROOT.draw("a15", obj, "colz");
						  });
						JSROOT.openFile("../../../data/reference.root")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_15_adc_time_spectrum"))
						  .then(obj => {
							  obj.fLineColor = 2;
							  JSROOT.draw("a15", obj, "colz");
						  });
					 </script>
                </td>
                <td>
                    <h4><b>TDC18: ADC Channel 16 Time Spectrum</b></h4>
					<div id="a16"></div>
					<script type='text/javascript'>
						// absolute file path can be used as well
						JSROOT.openFile("../../../data/%(rootFile)s")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_16_adc_time_spectrum"))
						  .then(obj => {
							  
							  JSROOT.draw("a16", obj, "colz");
						  });
						JSROOT.openFile("../../../data/reference.root")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_16_adc_time_spectrum"))
						  .then(obj => {
							  obj.fLineColor = 2;
							  JSROOT.draw("a16", obj, "colz");
						  });
					 </script>
                </td>
                <td>
                    <h4><b>TDC18: ADC Channel 17 Time Spectrum</b></h4>
					<div id="a17"></div>
					<script type='text/javascript'>
						// absolute file path can be used as well
						JSROOT.openFile("../../../data/%(rootFile)s")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_17_adc_time_spectrum"))
						  .then(obj => {
							  
							  JSROOT.draw("a17", obj, "colz");
						  });
						JSROOT.openFile("../../../data/reference.root")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_17_adc_time_spectrum"))
						  .then(obj => {
							  obj.fLineColor = 2;
							  JSROOT.draw("a17", obj, "colz");
						  });
					 </script>
                </td>
            </tr>
            <tr>
                <td>
                    <h4><b>TDC18: ADC Channel 18 Time Spectrum</b></h4>
					<div id="a18"></div>
					<script type='text/javascript'>
						// absolute file path can be used as well
						JSROOT.openFile("../../../data/%(rootFile)s")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_18_adc_time_spectrum"))
						  .then(obj => {
							  
							  JSROOT.draw("a18", obj, "colz");
						  });
						JSROOT.openFile("../../../data/reference.root")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_18_adc_time_spectrum"))
						  .then(obj => {
							  obj.fLineColor = 2;
							  JSROOT.draw("a18", obj, "colz");
						  });
					 </script>
                </td>
                <td>
                    <h4><b>TDC18: ADC Channel 19 Time Spectrum</b></h4>
					<div id="a19"></div>
					<script type='text/javascript'>
						// absolute file path can be used as well
						JSROOT.openFile("../../../data/%(rootFile)s")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_19_adc_time_spectrum"))
						  .then(obj => {
							  
							  JSROOT.draw("a19", obj, "colz");
						  });
						JSROOT.openFile("../../../data/reference.root")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_19_adc_time_spectrum"))
						  .then(obj => {
							  obj.fLineColor = 2;
							  JSROOT.draw("a19", obj, "colz");
						  });
					 </script>
                </td>
                <td>
                    <h4><b>TDC18: ADC Channel 20 Time Spectrum</b></h4>
					<div id="a20"></div>
					<script type='text/javascript'>
						// absolute file path can be used as well
						JSROOT.openFile("../../../data/%(rootFile)s")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_20_adc_time_spectrum"))
						  .then(obj => {
							  
							  JSROOT.draw("a20", obj, "colz");
						  });
						JSROOT.openFile("../../../data/reference.root")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_20_adc_time_spectrum"))
						  .then(obj => {
							  obj.fLineColor = 2;
							  JSROOT.draw("a20", obj, "colz");
						  });
					 </script>
                </td>
            <tr>
                <td>
                    <h4><b>TDC18: ADC Channel 21 Time Spectrum</b></h4>
					<div id="a21"></div>
					<script type='text/javascript'>
						// absolute file path can be used as well
						JSROOT.openFile("../../../data/%(rootFile)s")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_21_adc_time_spectrum"))
						  .then(obj => {
							  
							  JSROOT.draw("a21", obj, "colz");
						  });
						JSROOT.openFile("../../../data/reference.root")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_21_adc_time_spectrum"))
						  .then(obj => {
							  obj.fLineColor = 2;
							  JSROOT.draw("a21", obj, "colz");
						  });
					 </script>
                </td>
                <td>
                    <h4><b>TDC18: ADC Channel 22 Time Spectrum</b></h4>
					<div id="a22"></div>
					<script type='text/javascript'>
						// absolute file path can be used as well
						JSROOT.openFile("../../../data/%(rootFile)s")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_22_adc_time_spectrum"))
						  .then(obj => {
							  
							  JSROOT.draw("a22", obj, "colz");
						  });
						JSROOT.openFile("../../../data/reference.root")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_22_adc_time_spectrum"))
						  .then(obj => {
							  obj.fLineColor = 2;
							  JSROOT.draw("a22", obj, "colz");
						  });
					 </script>
                </td>
                <td>
                    <h4><b>TDC18: ADC Channel 23 Time Spectrum</b></h4>
					<div id="a23"></div>
					<script type='text/javascript'>
						// absolute file path can be used as well
						JSROOT.openFile("../../../data/%(rootFile)s")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_23_adc_time_spectrum"))
						  .then(obj => {
							  
							  JSROOT.draw("a23", obj, "colz");
						  });
						JSROOT.openFile("../../../data/reference.root")
						  .then(file => file.readObject("TDC_18_of_36_Time_Spectrum/tdc_18_channel_23_adc_time_spectrum"))
						  .then(obj => {
							  obj.fLineColor = 2;
							  JSROOT.draw("a23", obj, "colz");
						  });
					 </script>
                </td>
            </tr>
        </table>
	</body>
</html>